* {
	box-sizing: border-box;
}

/*-- our cleafix hack -- */
.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}

[class *='col-'] {
    float: left;
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter --*/
    padding: 12px;
}

article {
	width : auto;
	// height : 100vh;
	// float: left;
}

section {

}
div {
}

h2 {
}

p {

}

a {
	color: inherit;
	text-decoration: none;
}



i {
	display: inline-block;
	margin-left: 1px;
	margin-right: 1px;
}
#info {
	h2 {

	}

	p {

	}
}

#image {
	img {
		width: 100%;
		height: auto;
	}
}

#contact {
	width : inherit;
	.connection {
		width : 25%;
		padding : 1rem;
		float: left;
		border : 1px solid black;
		text-align: center;
	}
}

.skill {
	.type {

	}
	.list  {

		.entry {
			.name {
				margin: 0rem 0.25rem 0.25rem 0rem;
			}

			.rating {
				margin: 0.25rem;
			}
		}
	}
}



#projects {
	width : 100%;
	.project {
		.title {

		}
		.description {
			width: 100%;
			height: auto;
		}
		.tech {
			padding : 0.25rem 0.5rem 0.25rem 0.5rem;
			margin : 0.25rem;
			border : 1px solid black;
			border-radius : 0.25rem;
		}
	}
}
