@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue_grey-orange.min.css);

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

// div {
// }

// h2 {
// }

// p {

// }

// a {
// 	color: inherit;
// 	text-decoration: none;
// }



i {
	margin-left: 1px;
	margin-right: 1px;
}

// #infoContainer {
// 	width : 33%;
// 	height : 100%;
// 	float: left;
// 	margin-right : 1rem;
// }
// #skillsContainer {
// 	width:66%;
// 	height: 100%;
// }

// #info {
// 	h2 {

// 	}

// 	p {

// 	}
// }


#skillsContainer {
	height: 100vh;
}
#image {
	height: 200px;
}

#contact {
	.mdl-navigation__link:hover > i {
		display:none;
	}
	i {
		margin-right: 2rem;
	}
}

.skill {
	.type {

	}
	.list  {

		.entry {
			.name {
				margin: 0rem 0.25rem 0.25rem 0rem;
			}

			.rating {
				margin: 0.25rem;
			}
		}
	}
}

#first .section-header{
	padding-top : 20px;
	color: white;
}

#projects {
	width : 100%;
	.project {
		.mdl-card__title{
			height : 200px;
		}
		.demo-card-square > .mdl-card__supporting-text {
			height: 0px;
			padding : 0px;
			transition: height .2s linear, padding .2s linear;
		}
		.demo-card-square:hover > .mdl-card__supporting-text {
			height : auto;
			padding : 16px;
		}
		.title {
			color: white;
		}
		img {
			width: 100%;
			height: auto;
		}
		.description {
			width: 100%;
			height: auto;
		}
		.techContainer {
			width: 100%;
		}
		.tech {
			margin : 0.25rem;
			border-radius : 0.25rem;
		}
	}
}
